/**
 * MIXINS
 */

// =====
// LISTS
// =====
@mixin list-reset {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

@mixin list-inline {
  @include list-reset();
  display: inline;
  li {
    display: inline;
  }
}

@mixin list-inline-block {
  @include list-reset();
  display: inline-block;
  li {
    display: inline-block;
  }
}

@mixin list-float {
  @include list-reset();
  display: block;
  overflow: hidden;
  li {
    float: left;
  }
}



// ======
// BASICS
// ======

@mixin clearfix() {
  /* For modern browsers */
  &:before,
  &:after {
    content:"";
    display:table;
  }
  &:after {
    clear:both;
  }
  @if $ie-lt8 { /* For IE 6/7 (trigger hasLayout) */
    zoom:1;
  }
}

/**
 * Zeldman's image replacement technique
 */
@mixin hide-text() {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/**
 * Michael Czernow vertical align hack
 */
@mixin center-vertical($height) {
  height: $height;
  /* The ghost, nudged to maintain perfect centering */
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }
  /* The element to be centered, can also be of any width and height */
  > * {
    display: inline-block;
    vertical-align: middle;
  }
}

// ======
// DRUPAL
// ======

// HORIZONTAL LIST (FLOAT)
@mixin menu-horizontal($margin: 5px, $direction: left) {
  li.leaf {
    list-style: none;
    float: $direction;
    margin-left: $margin;
    margin-right: $margin;
    @if $direction == right {
      &.first { margin-right: 0; }
      &.last  { margin-left: 0; }
    }
    @else {
      &.first { margin-left: 0; }
      &.last  { margin-right: 0; }
    }
  }
}
// RESET MENU STYLE
@mixin menu-nostyle() {
  li.expanded,
  li.leaf {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

// VERTICAL ALIGN MIDDLE FOR BLOCKS
@mixin valign-middle($height) {
  height: $height;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; //Adjusts for spacing
  }
  .middle {
    display: inline-block;
    vertical-align: middle;
  }
}

// ==========
// RESPONSIVE
// ==========

@mixin lg {
  @media screen and (max-width: $res-lg) {
    @content;
  }
}
@mixin md {
  @media screen and (max-width: $res-md) {
    @content;
  }
}
@mixin sm {
  @media screen and (max-width: $res-sm) {
    @content;
  }
}
