/**
 * VARIABLES
 * Prefix variables with semantic meaning:
 * clr: color
 * dim: dimension
 * res: resolution/responsive
 * ...
 */

$ie-lt8: false; // If less than Internet Explorer 8

$clr-body:       #ffffff;
$clr-link:       #cc0000;
$clr-link-hover: #ff0000;
$clr-contrast:   #000000;

$font-heading: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$font-body: Helvetica, Arial, sans-serif;

$res-lg: 980px;
$res-md: 768px;
$res-sm: 480px;


