/**
 * VARIABLES
 * Prefix variables with semantic meaning:
 * clr: color
 * dim: dimension
 * res: resolution/responsive
 * ...
 */

@clr-body:       #ffffff;
@clr-link:       #cc0000;
@clr-link-hover: #ff0000;
@clr-contrast:   #000000;

@dim-something: 1020px;

@res-lg: 980px;
@res-md: 768px;
@res-sm: 480px;